* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
  background-color: lightskyblue;
  color: black; 
  text-align: center;
  padding: 1px;
}

.nav li {
  display: inline-block;
  text-align: center;
  padding: 15px;
  font-size: medium;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center; 
  color: green;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 400px;
  padding-right: 400px;
}

#whoami {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#profpic {
  height: auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  scale: 150%;
}
